body {
  background-color: #282e33;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  text-align: center;
}

h1 {
  color: #8d939e;
  font-size: 48px;
}

input {
  display: none;
}

#inputs {
  text-align: center;
  display: flex;
  justify-content: center;
}

.input-zone {
  width: 100px;
  height: 100px;
  float: left;
  text-align: center;
  font-size: 24px;
}

p {
  color: #8d939e;
}
